In [2]:
import pandas as pd
import numpy as np
import datetime

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
sales = pd.read_csv('Sales_Multiseries_training.csv', parse_dates = True, low_memory = False)
sales['Date'] = pd.to_datetime(sales['Date'])
sales.shape

(7140, 17)

In [6]:
grouped1 = sales.set_index('Date').groupby(['Store'])['Sales'].resample('M').sum()
grouped1.head()

Store      Date
Baltimore  2012-07-31    1851749.91
           2012-08-31    1847926.88
           2012-09-30    1862358.75
           2012-10-31    2130491.11
           2012-11-30    2799458.53
Name: Sales, dtype: float64

In [7]:
grouped2 = sales.set_index('Date').groupby(['Store']).resample('M')['Sales'].sum()
grouped2.head()

Store      Date
Baltimore  2012-07-31    1851749.91
           2012-08-31    1847926.88
           2012-09-30    1862358.75
           2012-10-31    2130491.11
           2012-11-30    2799458.53
Name: Sales, dtype: float64

In [11]:
grouped3 = sales.groupby(['Store', pd.Grouper(key = 'Date', freq = 'M')])['Sales'].sum()
grouped3.head()

Store      Date
Baltimore  2012-07-31    1851749.91
           2012-08-31    1847926.88
           2012-09-30    1862358.75
           2012-10-31    2130491.11
           2012-11-30    2799458.53
Name: Sales, dtype: float64

In [12]:
grouped4 = sales.groupby(['Store', pd.Grouper(key = 'Date', freq = 'A-DEC')])['Sales'].sum()
grouped4.head(5)

Store      Date
Baltimore  2012-12-31    13812824.93
           2013-12-31    26114494.35
           2014-12-31    10221424.51
Columbus   2012-12-31    14789693.73
           2013-12-31    27961360.30
Name: Sales, dtype: float64