In [1]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]

In [2]:
import statistics

def enrollment_stats(lst):
    '''
    This function loops over a nested list and perform built-in
    functions on different elements of the list.
    It also shows how to format the output in a certain way:
    - How to insert an empty line in an output
    - How to format a numeric with commas and decimal points
    - How to write a multiline return statement
    '''
    total_students = 0
    total_tuition = 0
    for element in lst:
        total_students += element[1]
        total_tuition += element[2]
        student_mean = statistics.mean([element[1] for element in lst])
        student_median = statistics.median([element[1] for element in lst])
        tuition_mean = statistics.mean([element[2] for element in lst])
        tuition_median = statistics.median([element[2] for element in lst])
        
    return (
        f'*************************'
        f'\n'
        f'\n'
        f'Total students: {total_students: ,}\n'
        f'Total Tuition: ${total_tuition: ,}\n'
        f'\n'
        f'Student mean: {student_mean: ,.2f}\n'
        f'Student median: ${student_median: ,}\n'
        f'\n'
        f'Tuition mean: ${tuition_mean: ,.2f}\n'
        f'Tuition median: ${tuition_median: ,}'
        f'\n'
        f'\n'
        f'*************************'
    )

In [3]:
print(enrollment_stats(universities))

*************************

Total students:  77,285
Total Tuition: $ 271,905

Student mean:  11,040.71
Student median: $ 10,566

Tuition mean: $ 38,843.57
Tuition median: $ 39,849

*************************